<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Signup</h1>
            <p>Welcome to the signup page</p>
        </div>
        <form action="createuser" method="POST">
            <p>First name</p>
            <input type="text" name="fn" value="" />
            <p>Last name</p>
            <input type="text" name="ln" value="" />
            <p>Username</p>
            <input type="text" name="username" value="" />
            <p>Password</p>
            <input type="text" name="pwd" value="" />
            <p>Email</p>
            <input type="text" name="email" value="" />
            <input type="submit" value="Create" />
        </form>

        <a href="./">Main</a>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>